.vscode/launch.json
.vscode/tasks.json
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csprojAssemblyReference.cache
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csproj.CoreCompileInputs.cache
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csprojAssemblyReference.cache
client/bin/Debug/netcoreapp2.2/TransformationComponent.dll
client/bin/Debug/netcoreapp2.2/TransformationComponent.pdb
client/text.txt
client/rules.txt
client/bin/Debug/netcoreapp2.2/client.dll
client/bin/Debug/netcoreapp2.2/client.pdb
client/obj/Debug/netcoreapp2.2/client.dll
client/obj/Debug/netcoreapp2.2/client.pdb
client/obj/Debug/netcoreapp2.2/client.assets.cache
client/obj/Debug/netcoreapp2.2/client.csprojAssemblyReference.cache
