.vscode/launch.json
.vscode/tasks.json
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csprojAssemblyReference.cache
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csproj.CoreCompileInputs.cache
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csprojAssemblyReference.cache
client/bin/Debug/netcoreapp2.2/TransformationComponent.dll
client/bin/Debug/netcoreapp2.2/TransformationComponent.pdb
client/text.txt
client/rules.txt
client/bin/Debug/netcoreapp2.2/client.dll
client/bin/Debug/netcoreapp2.2/client.pdb
client/obj/Debug/netcoreapp2.2/client.dll
client/obj/Debug/netcoreapp2.2/client.pdb
client/obj/Debug/netcoreapp2.2/client.assets.cache
client/obj/Debug/netcoreapp2.2/client.csprojAssemblyReference.cache
/.vs/courseWork/v15
/ModelTranformerExample/bin/Debug
/ModelTranformerExample/obj/Debug
/.vs/ModelTrasformationComponent1/v15
/.vs
/TestResults/bcaf15b2-a651-4a7f-a4c7-de5e5cc19114
TransformationComponent/C:/Users/user/Documents/ModelTrasformationComponent/TransformationComponent/TransformationComponent.xml
client/bin/Debug/netcoreapp2.2/client.dll
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.xml
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csproj.FileListAbsolute.txt
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csprojAssemblyReference.cache
TransformationComponentUnitTest/bin/Debug/netcoreapp2.2/TransformationComponent.dll
TransformationComponentUnitTest/bin/Debug/netcoreapp2.2/TransformationComponent.pdb
TransformationComponentUnitTest/bin/Debug/netcoreapp2.2/TransformationComponent.xml
TransformationComponentUnitTest/obj/Debug/netcoreapp2.2/TransformationComponentUnitTest.csprojAssemblyReference.cache
client/C:/Users/user/Documents/ModelTrasformationComponent/client/client.xml
client/bin/Debug/netcoreapp2.2/TransformationComponent.dll
client/bin/Debug/netcoreapp2.2/TransformationComponent.pdb
client/bin/Debug/netcoreapp2.2/TransformationComponent.xml
client/bin/Debug/netcoreapp2.2/TransformationComponent.dll
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.xml
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.dll
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.pdb
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csproj.FileListAbsolute.txt
TransformationComponent/obj/Debug/netstandard2.0/TransformationComponent.csprojAssemblyReference.cache
TransformationComponentUnitTest/bin/Debug/netcoreapp2.2/TransformationComponent.dll
TransformationComponentUnitTest/bin/Debug/netcoreapp2.2/TransformationComponent.pdb
TransformationComponentUnitTest/bin/Debug/netcoreapp2.2/TransformationComponent.xml
TransformationComponentUnitTest/obj/Debug/netcoreapp2.2/TransformationComponentUnitTest.csprojAssemblyReference.cache
client/bin/Debug/netcoreapp2.2/TransformationComponent.pdb
client/bin/Debug/netcoreapp2.2/TransformationComponent.xml
client/bin/Debug/netcoreapp2.2/client.dll
TransformationComponent/bin/Debug/netstandard2.0/TransformationComponent.dll
